* {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
.h1,
.h2,
.navbar-brand {
  font-family: "Petit Formal Script", cursive;
}

.bg-yellow {
  background-color: rgb(250, 200, 70);
}

.text-yellow {
  color: rgb(214, 167, 48);
}

#navbar {
  z-index: 9999;
  transition: 1s;
}

.header {
  height: 100vh;
  min-height: 500px;
  background-color: pink;
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}
